In [4]:
print("hello vinay welcome to Python")

hello vinay welcome to Python

In [20]:
a=1895554

In [21]:
b=2.23

In [22]:
print(a+b)

1895556.23

In [17]:
a+b

3

In [18]:
print(print("hello vinay welcome to Python"))

hello vinay welcome to Python
None

In [30]:
a=5.2632
b=1010101
a+b

1010106.2632

In [35]:
type(a)

float

In [36]:
type(b)

int

In [37]:
type(a)
type(b)

int

In [52]:
ft= "challa vinay"
ls="reddy"

print(ft.title())

In [55]:
print(ft.upper())

CHALLA VINAY

In [58]:
print(f"{ft} {ls}".title())

Challa Vinay Reddy

In [59]:

print(ft.lower())

challa vinay

In [64]:
print(f"sir your doing a great job from {ft} {ls}")

sir your doing a great job from challa vinay reddy

In [69]:
print("datatypes in python:" "\n\t\tstrings" "\n\t\tlist" "\n\t\tdictonary" "\t\n\t\ttuples")

datatypes in python:
		strings
		list
		dictonary
		tuples