In [4]:
employees = ['vinay','chinna','reddy','ragnar','challa']

In [5]:
print(employees)

['vinay', 'chinna', 'reddy', 'ragnar', 'challa']

In [8]:
print(employees[4])

challa

In [11]:
employees.pop()

'challa'

In [26]:
employees.insert(2,"rollo")

In [27]:
print(employees[4])

reddy

In [28]:
type(employees)

list

In [35]:
employees.append("lokki")#sir for every time  compiling the cell a duplicate element is being inserted

In [36]:
print(employees)

['vinay', 'chinna', 'rollo', 'rollo', 'reddy', 'ragnar', 'rollo', 'rollo', 'lokki', 'lokki', 'lokki', 'lokki', 'lokki', 'lokki']

In [45]:
employees.pop()

'lokki'

In [46]:
print(employees)

['vinay', 'chinna', 'rollo', 'rollo', 'reddy', 'ragnar', 'rollo', 'rollo', 'lokki']

In [47]:
employees.pop(2)

'rollo'

In [48]:
employees.pop(6)

'rollo'

In [49]:
print(employees)

['vinay', 'chinna', 'rollo', 'reddy', 'ragnar', 'rollo', 'lokki']

In [51]:
print(f"all employees in the company,{employees[0].title()}")

all employees in the company,Vinay

In [53]:
print(f"all employees in the company,{employees.title()}")#sair im anable to print all the-
#-list elements instead only one element is being printed which we mentioned those index

AttributeError: 'list' object has no attribute 'title'

In [ ]:
#sir in python is there any mutliple commenting syntax

In [ ]:
employees = ['\nvinay','\nchinna','\nreddy','\nragnar','\nchalla']

In [54]:
print(employees)#sir i mentioned \n for every element but not printing in the next line yyy sir

['vinay', 'chinna', 'rollo', 'reddy', 'ragnar', 'rollo', 'lokki']